<a href="https://colab.research.google.com/github/kashaveniDeepika24/2025-26-4088-Deepika-AI-B-DS/blob/main/10-02-26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#selection of data
import pandas as pd
data={
    "ID":[101,102,103,104,105],
    "Name":["A","B","C","D","E"],
    "Age":[15,20,30,22,18],
    "Marks":[85,87,90,86,91]
}
df=pd.DataFrame(data)
print(df)
print(df["Name"])
print(df["Marks"])
df[["Name","Marks"]]
print("location 0",df.iloc[0])
print("location 1 to 4",df.iloc[1:4])
print("location 1 to 3",df.iloc[0:3,1:3])

    ID Name  Age  Marks
0  101    A   15     85
1  102    B   20     87
2  103    C   30     90
3  104    D   22     86
4  105    E   18     91
0    A
1    B
2    C
3    D
4    E
Name: Name, dtype: object
0    85
1    87
2    90
3    86
4    91
Name: Marks, dtype: int64
location 0 ID       101
Name       A
Age       15
Marks     85
Name: 0, dtype: object
location 1 to 4     ID Name  Age  Marks
1  102    B   20     87
2  103    C   30     90
3  104    D   22     86
location 1 to 3   Name  Age
0    A   15
1    B   20
2    C   30

In [9]:
# filtering rows using conditions in pandas
import pandas as pd
data={
    "Id":[101,102,103,104,105],
    "Name":["alice","charlie","eva","david","bob"],
    "Age":[22,25,23,24,26],
    "marks":[85,78,92,88,90]
}
df=pd.DataFrame(data)
print("original dataframe:")
print(df)
#filter marks greater than 85
print("\n students with marks>85:")
print(df[df["marks"]>85])
#filter age less than 25
print("\n students with age <25:")
print(df[df["Age"]<25])

original dataframe:
    Id     Name  Age  marks
0  101    alice   22     85
1  102  charlie   25     78
2  103      eva   23     92
3  104    david   24     88
4  105      bob   26     90

 students with marks>85:
    Id   Name  Age  marks
2  103    eva   23     92
3  104  david   24     88
4  105    bob   26     90

 students with age <25:
    Id   Name  Age  marks
0  101  alice   22     85
2  103    eva   23     92
3  104  david   24     88

In [16]:
#data manipulation operations
import pandas as pd
data={
    "Name":["A","B","c"],
    "Age":[20,21,22],
    "marks":[70,80,90]

}
df=pd.DataFrame(data)
print("original data:")
print(df)
#add a new column
df["bonus"]=5
print("\n after adding bonus:")
print(df)
#increasing marks
df["marks"]=df["marks"]+2
print("\n after increasing marks:")
print(df)
#create new column from existing column
df["total"]=df["marks"]+df["bonus"]
print(df)
#change value
df.loc[0, "Age"]=21
print("\n after changing age of first student:")
print(df)
#rename column
df.rename (columns={"total":"final"},inplace=True)
print("after renaming total to final")
print(df)
# remove a column
df.drop("bonus",axis=1,inplace=True)
print(df)

original data:
  Name  Age  marks
0    A   20     70
1    B   21     80
2    c   22     90

 after adding bonus:
  Name  Age  marks  bonus
0    A   20     70      5
1    B   21     80      5
2    c   22     90      5

 after increasing marks:
  Name  Age  marks  bonus
0    A   20     72      5
1    B   21     82      5
2    c   22     92      5
  Name  Age  marks  bonus  total
0    A   20     72      5     77
1    B   21     82      5     87
2    c   22     92      5     97

 after changing age of first student:
  Name  Age  marks  bonus  total
0    A   21     72      5     77
1    B   21     82      5     87
2    c   22     92      5     97
after renaming total to final
  Name  Age  marks  bonus  final
0    A   21     72      5     77
1    B   21     82      5     87
2    c   22     92      5     97
  Name  Age  marks  final
0    A   21     72     77
1    B   21     82     87
2    c   22     92     97

In [17]:
# grouping of data
import pandas as pd
data = {
    'Department': ['IT', 'HR', 'IT', 'HR', 'IT'],
    'Name': ['A', 'B', 'C', 'D', 'E'],
    'Age': [20, 21, 19, 22, 18],
    'Marks': [85, 78, 92, 88, 90]
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
group_mean = df.groupby('Department')['Marks'].mean()
print("\nAverage Marks by Department:")
print(group_mean)
group_stats = df.groupby('Department')['Marks'].agg(['mean', 'max', 'min'])
print("\nMarks Statistics by Department:")
print(group_stats)
group_count = df.groupby('Department')['Name'].count()
print("\nStudent Count by Department:")
print(group_count)
group_multi = df.groupby(['Department', 'Age'])['Marks'].mean()
print("\nGrouped by Department and Age:")
print(group_multi)

Original DataFrame:
  Department Name  Age  Marks
0         IT    A   20     85
1         HR    B   21     78
2         IT    C   19     92
3         HR    D   22     88
4         IT    E   18     90

Average Marks by Department:
Department
HR    83.0
IT    89.0
Name: Marks, dtype: float64

Marks Statistics by Department:
            mean  max  min
Department
HR          83.0   88   78
IT          89.0   92   85

Student Count by Department:
Department
HR    2
IT    3
Name: Name, dtype: int64

Grouped by Department and Age:
Department  Age
HR          21     78.0
            22     88.0
IT          18     90.0
            19     92.0
            20     85.0
Name: Marks, dtype: float64

In [19]:
# Selection Sort Program
arr = [45, 25, 117, 22, 11]
n = len(arr)
for i in range(n - 1):
    min_index = i
    for j in range(i + 1, n):
        if arr[j] < arr[min_index]:
            min_index = j
    arr[i], arr[min_index] = arr[min_index], arr[i]
print("Sorted array:")
print(arr)

Sorted array:
[11, 22, 25, 45, 117]

In [20]:
# Bubble Sort Program
arr = [77, 34, 25, 44, 22, 65, 90]
n = len(arr)
for i in range(n - 1):
    for j in range(n - i - 1):
        if arr[j] > arr[j + 1]:
            # swap
            arr[j], arr[j + 1] = arr[j + 1], arr[j]
print("Sorted array:")
print(arr)

Sorted array:
[22, 25, 34, 44, 65, 77, 90]

In [21]:
# Linear Search Program
arr = [15, 25, 30, 44, 66]
key = 30
found = False
for i in range(len(arr)):
    if arr[i] == key:
        print("Element found at index:", i)
        found = True
        break
if not found:
    print("Element not found")

Element found at index: 2

In [22]:
# Binary Search Program
arr = [10, 20, 30, 40, 50, 60]
key = 40
low = 0
high = len(arr) - 1
found = False
while low <= high:
    mid = (low + high) // 2
    if arr[mid] == key:
        print("Element found at index:", mid)
        found = True
        break
    elif arr[mid] < key:
        low = mid + 1
    else:
        high = mid - 1
if not found:
    print("Element not found")

Element found at index: 3